* {
	word-wrap: break-word;
	direction: all;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

img {
	max-width: 100%;
	display: block;
	margin: auto;
}

.btn {
	width: 100%;
	text-decoration: none;
}

a {
	text-decoration: underline;
}

.arab {
	font-size: 20px;
}

.kotak-1 {
	overflow: hidden;
    position: relative;
	/* change these 2 values to adjust the size relative to its parent */
    width: 50%;
    padding-bottom: 50%;
}

.kotak-2 {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align:center;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.kotak-1 .kotak-2 img {
	min-width: 100%;
    min-height: 100%;
    margin: 0 -9999px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}