<div>
	<h1 style="color: rgb(255, 152, 0);">Tentangku</h1>
	<div class="embed-container" style="border: 1px solid rgb(0, 188, 212);">
		<iframe src="https://www.youtube.com/embed/BzZroxr5IDQ" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<p>Perkenalkan, nama saya adalah Zen, pemilik blog ini. Saya saat ini berprofesi sebagai <span style='color: rgb(0, 150, 136);'>guru</span> di SMA Muhammadiyah 2 Samarinda, <span style='color: rgb(245, 127, 23);'>berkuliah</span> di Universitas Mulawarman jurusan Psikologi, part time <span style='color: rgb(0, 200, 83);'>bisnis sepeda</span> di Loa Janan Samarinda, dan mengisi waktu luang dengan <em style="color: rgb(0, 184, 212);">blogging</em> di <a href=''>muhammadzaini.com</a>. Jika, ingin berkomunikasi denganku, hubungi saja di <a href='mailto:muhzaini30@gmail.com'>muhzaini30@gmail.com</a>.</p>
	<p><a href="/2018/01/13/about-me.html" class="btn btn-default" style="background: rgb(244, 67, 54); color: white;">Lihat selengkapnya</a></p>
</div>
<div>
	<h1 style="color: rgb(0, 150, 136);">Langganan Blog</h1>
	<p><img src="https://s25.postimg.org/w4q92g2hr/blog_zen.png" alt="" /></p>
	<p>
		<a href="https://api.whatsapp.com/send?phone=6281545143654&text=Kak,%20langganan%20blog" class="btn btn-default" style="background: rgb(76, 175, 80); color: white;">Langganan Blog</a>
	</p>
</div>
<div>
	<h1 style="color: rgb(105, 240, 174);">Zen for Android</h1>
	<p>
		<img src="https://mail-attachment.googleusercontent.com/attachment/u/0/?view=att&th=16183ad5d95d976f&attid=0.1&disp=inline&realattid=1592087140408229888-local0&safe=1&zw&saddbat=ANGjdJ-NBIG0fNOrMKHukOg8LvhCQ20nwaOLg5urinhyges--JbVRQhM_10Gnu2yJ1kWGi-Plf7We-7rHvcElZKyFCnbfqjS8QXgpIzEaVFjvXRPivYIpk41Gv5EfWwz7liU2TNdRPyTAGZvRvZO3dXpIGKBL5NGYWbsBK3uhgayt1IAnVP2ssspiAQEkAcI-GZhjxkZPiga7gYbqiL5JlF7UOIb3anGsjkt8I516TVdoclSlFLbNKkJqzxgN2QvbcT7LJC_oIlk8WoyDcW41TloC9iqKx326z26UMxYTxO6qJHCRgYvysiNM_cLw193NI_yDkoPNValgX6jBeUGsjvl2OyrxJaRq05MAuoZoi2WWmcSzFywcEiz8lizIIRUmUbcWqzkqk4aoywHBhCBnh_Iq8XTy8GHXFfx_cHEAtjQHLHA6k-zG1RUibba6N0jC4wrEL9SNWQY856ZjhIgug4uTt3WpjP0_zPcFxiHaOOXBr6i539seAsGiZGQjFEkA0obJjnoG_yoV7eUKNa9H35URrAhGjFPcV9QYXsu8BEfjPprQXAMm0x9LqHgn6varbtjRGNj0FMjRKjr73IrzpVw3VsBH9TszNz8ubyHOA" style='width: 50%; margin: auto; display: block; border: 1px solid rgb(165, 214, 167);'>
	</p>
	<p>
		<a href="https://play.google.com/store/apps/details?id=com.mzaini30.zen" class="btn btn-default" style="background: rgb(249, 168, 37); color: white;">Download</a>
	</p>
</div>
<div>
	<h1 style="color: rgb(255, 87, 34);">Sponsored Posts</h1>
	<ul>
		<li><a href='/2018/01/25/3-tempat-wisata-di-bandung-yang-wajib-dikunjungi.html'>3 Tempat Wisata di Bandung yang Wajib Dikunjungi</a> oleh <a href='https://www.airyrooms.com/'>Airy Rooms</a></li>
		<li><a href='/2017/07/18/ekspansi-jaringan-4g-operator-telekomunikasi-seluler-di-indonesia.html'>Ekspansi Jaringan 4G Operator Telekomunikasi Seluler di Indonesia</a> oleh <a href='http://traveloka.com/'>Traveloka</a></li>
		<li><a href='/2018/01/27/umbul-manten-kolam-alami-jernih-di-klaten-harga-tiket-masuk-peta-lokasi.html'>Umbul Manten Kolam Alami Jernih di Klaten, Harga Tiket Masuk + Peta Lokasi</a> oleh <a href='http://dolanyok.com/'>Dolan Yok</a></li>
	</ul>
	<a href="/2018/01/23/kerja-sama.html" class="btn btn-default" style="background: rgb(3, 169, 244); color: white;">Saya ingin bekerja sama</a>
</div>