---
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }} - Zen</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/bin/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bin/github.css">
	<link rel="stylesheet" type="text/css" href="/bin/style.css">
</head>
<body>
<div class="container">
	<div>
		<h1 class="text-center">
			<a href='/' style="text-decoration: none; color: rgb(156, 39, 176);">Zen</a>
		</h1>
		<hr style="border-color: rgb(0, 188, 212);">
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div>
				<h1 style="color: rgb(0, 188, 212);">
					<a href='{{ site.url }}{{ page.url }}' style="text-decoration: none;">{{ page.title }}</a>
				</h1>
				<p><img src="{{ page.gambar }}" style="width: 100%;"></p>
				<p>{{ content }}</p>
				<div class="row">
					<div class="col-xs-6" style="padding-right: 5px;">
						<a href="https://api.whatsapp.com/send?phone=6281545143654&text=*Link*%3A%20{{ site.url }}{{ page.url }}%0A%0A*Komentar*%3A%0A" class="btn btn-default" style="background: rgb(76, 175, 80); color: white;">Komentar WA</a>
					</div>
					<div class="col-xs-6" style="padding-left: 5px;">
						<a href="mailto:muhzaini30@gmail.com?subject=Komentar%20Blog%3A%20{{ page.title }}&body=Link%3A%20{{ site.url }}{{ page.url }}%0A%0AKomentar%3A%0A." class="btn btn-default" style="background: rgb(244, 67, 54); color: white;">Komentar Email</a>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-4">
					<a href="#">
						<p>
							<img src="https://s25.postimg.org/dk6m9fbof/Picture1.png" style="width: 100%;">
						</p>
						<p>Judul</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="#">
						<p>
							<img src="https://s25.postimg.org/dk6m9fbof/Picture1.png" style="width: 100%;">
						</p>
						<p>Judul</p>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="#">
						<p>
							<img src="https://s25.postimg.org/dk6m9fbof/Picture1.png" style="width: 100%;">
						</p>
						<p>Judul</p>
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			{% include sidebar.html %}
		</div>
	</div>
</div>
<br>
</body>
</html>